@import 'styles/variables';
@import 'styles/mixins';

.footer {
  padding: 16px 30px;
  background-color: $gray;

  & * {
    color: $white;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer__col {
  flex: 1 1 25%;

  @include mobile {
    margin-bottom: 12px;
    flex: 1 1 100%;
  }

  h6 {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
  }

  a {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    transition: opacity .2s linear;

    &:hover {
      opacity: .75;
    }
  }
}

.footer__disclaimer {
  margin-top: 20px;

  span {
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5;
  }
}
