@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: 'Roboto Condensed';
  font-display: swap;
  src: url(./Roboto-Condensed/RobotoCondensed-Light.ttf) format('truetype');
}
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Roboto Condensed';
  font-display: swap;
  src: url(./Roboto-Condensed/RobotoCondensed-Regular.ttf) format('truetype');
}
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'Roboto Condensed';
  font-display: swap;
  src: url(./Roboto-Condensed/RobotoCondensed-Bold.ttf) format('truetype');
}
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'Oswald';
  font-display: swap;
  src: url(./Oswald/Oswald-Bold.ttf) format('truetype');
}
