@import 'styles/variables';
@import 'styles/mixins';

.container {
  padding: 40px 30px;

  @include mobile {
    padding: 40px 12px;
  }

  & > h1 {
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
  
  & > p {
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
  }
}
