@import '../assets/fonts/index';
@import './mixins';
@import './variables';
@import './reset';

body {
  position: relative;
  color: $black;
  font-family: 'Roboto Condensed', sans-serif;
}

.info-header {
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}

.info-html {

  h4 {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
  }

  p {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
  }
}

.btn-group {
  display: flex;
  column-gap: 10px;

  & > :last-child {
    padding: 12px 14px;
    min-width: auto;
  }
}

.mobile-hide {
  @include mobile {
    display: none;
  }
}

.desktop-hide {
  @include no-mobile {
    display: none;
  }
}
