.product-container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-column-gap: 20px;
}

.product-photos {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;

  & img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
